html{
    font-family: Dosis , sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
}

#background{
    position: relative;
    background: white;
    background-image: linear-gradient(to right, rgba(185, 180, 180, 0.8),rgba(255, 250, 250, .1)), url("https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg");
    height: 85vh;
    width: auto;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    border-top: 4.5vh solid white;
    border-left: 2vw solid white;
    border-right: 2vw solid white;
}

#first-section{
    box-sizing: border-box;
    margin-bottom: 0;
    width: 100%;
    height: auto;  
    padding: 2% 0;  
    padding-left: 5%;
}

#header{
    height: 90px;
    width: 95%;
    display: flex;
    position: relative;
}

#logo{
    height: 20px;
    width: 90px;
    background-color: #e47312;
    padding: 45px 35px;
    cursor: pointer;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 0 20px;
    height: 100%;
    width: 80%;
    margin: 0;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

.nav-link{
    list-style-type: none;
    padding: 37px 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
    cursor: pointer;
    color: rgba(40, 40, 43, 0.8);
}

.nav-link:hover{
    color: #e47312;
}

.fa-chevron-down::before{
    margin-left: 5px;
    margin-right: 20px;
    color: rgb(80, 79, 79);
}

.fa-grip-lines{
    color: black;
    padding: 36px;
    margin: 0;
    cursor: pointer;
    visibility: hidden;
    position: fixed;
}

.quote-btn{
    font-size: 11px;
    font-weight: bold;
    width: 15%;
    margin: 0;
    background-color: #e47312;
    border: hidden;
    color: white;
    cursor: pointer;
}

.quote-btn:hover, .quote-btn-2:hover{
    opacity: .8;
    transition: 500ms;
}

.details{
    position: relative;
    width: 100%;
    height: 300px;
    flex-direction: row;
    justify-content: start;
}

#heading{
    display: inline-block;
    color: white;
    width: 70%;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 55px;
    font-size: 62px;
    line-height: 70px;
}

#slogan{
    font-size: 20px;
    color: white;
    margin-top: 5px;
    display: inline-block;
}

.quote-btn-2{
    font-size: 11px;
    font-weight: bold;
    width: 13%;
    height: 50px;
    margin-top: 5px;
    background-color: #e47312;
    border: hidden;
    color: white;
    cursor: pointer;
    border: none;
}

#dropdown{
    position: absolute;
    top: 100px;
    right: 160px;
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: white;
    padding: 5px;
    opacity: 0;
}

#dropdown:hover{
    opacity: 1;
}

#map{
    color: white;
    font-size: 14px;
    font-weight: 600;
}

#map:hover{
    text-decoration: underline 2px white;
    text-underline-offset: 5px;
}

.option{
    list-style-type: none;
    color: darkolivegreen;
    padding: 10px;
    margin: 0;
    font-size: 14px;
    width: auto;
    text-align: center;
}

.option:hover{
    color: #e47312;
    background-color: lightgrey;
}

#social-tab{
    position: absolute;
    top: 120px;
    right: 33px;
    display: inline-block;
    margin: 0;
    margin-top: 50px;
    height: 120px;
    width: 20px;
}

.social{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 25px;
    width: 25px;
    padding: 14px;
    border-bottom: 1px solid white;
    background-color: rgb(21, 21, 49);
    cursor: pointer;
}

#contact-section{
    position: absolute;
    right: 0px;
    top: 385px;
    height: 215px;
    width: 70%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
}

.contact{
    height: 100%;
    width: 33%;
    text-align: center;
    color: white;
    padding: 40px 0;
    margin: 0;
}

#services-page{
    position: relative;
    padding: 0;
    top: 35vh;
    left: 0;
    right: 0;
    height: 110vh;
    width: 100%;
    margin: 0;
}

.blur-heading{
    position: absolute;
    top: 0px;
    margin: 20px;
    left: 0px;
    font-size: 120px;
    font-weight: 600;
    color: rgba(236, 233, 233, 0.3);
}

#top-bar{
    padding: 90px 0 20px;
    font-size: 26px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#all-services{
    font-size: 13px;
    font-weight: 600;
    color: gray;
    margin-right: 60px;
}

#title{
    margin-left: 70px;
    font-size: 40px;
    font-weight: 600;
}

#all-services:hover{
    text-decoration: underline #e47312 2px;
    text-underline-offset: 5px;
}

#services-block{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    margin-left: 10px;
    height: 200px;
    width: 100%;
    position: relative;
    bottom: 200px;
    right: 30px;
    margin-bottom: 50px;
}

#services{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    padding-left: 4%;
}

.services-name{
    margin: 15px 0 5px;
}

.description{
    color: gray;
    font-size: 16px;
    line-height: 25px;
}

.more{
    font-size: 14px;
    color: gray;
    font-weight: 550;
    text-decoration: underline white 3px;
    text-underline-offset: 5px;
}

.more:hover{
    text-decoration: underline #e47312 2px;
}

#about-page{
    position: relative;
    height: 80vh;
    width: 95%;
    display: flex;
    padding-left: 5%;
}

.blur-heading-2{
    position: absolute;
    top: -130px;
    right: 260px;
    font-size: 120px;
    font-weight: 600;
    color: rgba(236, 233, 233, 0.3);
}

#worker-img{
    margin-top: 50px;
    height: 380px;
    width: 570px;
}

#heading-2{
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 10px;
}

#about-details{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0px 115px;
    width: 50%;
    font-size: 17px;
    height: 450px;
    line-height: 23px;
}

#statics{
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.count-details{
    width: 180px;
    line-height: 25px;
    box-sizing: border-box;
    padding: 70px 5px 0px;
    height: 100%;
}

.count{
    margin: 0;
    width: 100%;
    color: #e47312;
    font-size: 60px;
    font-weight: 500;
}

.details{
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: gray;
}

#projects{
    position: relative;
    top: 0;
    width: 100% ;
    background-color: #f7f8fc;
    height: auto;
}

#project-section{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding:  70px 0px 0px;
}

#project-image-1{
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/p-1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 360px;
    width: calc(32% - 5px);
    margin: 10px;
}

#project-image-2{
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/p-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;
    margin: 10px;
    width: calc(32% - 5px);
}

#project-image-3{
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/p-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;
    margin: 10px;
    width: calc(32% - 5px);
}

#project-image-4{
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/p-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    height: 360px;
    width: calc(32% - 5px);
}

#project-image-5{
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/p-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;
    margin: 10px;
    width: calc(32% - 5px);
}

#project-image-6{
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/p-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;
    margin: 10px;
    width: calc(32% - 5px);
}

.view-option{
    display: inline-block;
    box-sizing: content-box;
    background-color: rgba(97, 95, 95, 0.3);
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-option:hover{
    opacity: 1;
}

.view-txt{
    background-image: linear-gradient(to left, #e47312, #ff6361);
    border-radius: 50%;
    font-size: 12px;
    color: white;
    padding: 25px 20px;

}

#gray-background{
    position: relative;
}

#bg-image{
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55vh;
    position: relative;
    padding: 0;
    margin: 0;
}

#bg-tranparent{
    background-image: linear-gradient(to right, #e47312, #ff6361);
    opacity: .9;
    height: 100%;
    width: 100%;
}

#title-2{
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 0;
    width: 100%;
    padding-top: 90px;
}

#description-2{
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 100;
    margin: 10px auto 50px;
    width: 100%;
}

#quote-btn-2{
    background-color: transparent; 
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
}

#quote-btn-2:hover{
    text-decoration: underline 2px white;
    text-underline-offset: 5px;
}

#team-page{
    position: relative;
    margin-top: 30px;
}

#team-details{
    box-sizing: content-box;
    position: relative;
    height: 500px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.team-card{
    position: relative;
    height: 400px;
    width: 25%;
    margin: 20px 25px;
    background-color: white;
}

.team-photo-1{
    height: 300px;
    width: 100%;
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg");
    background-attachment: scroll;
    background-size: cover;
}

.team-photo-2{
    height: 300px;
    width: 100%;
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg");
    background-attachment: scroll;
    background-size: cover;
}

.team-photo-3{
    height: 300px;
    width: 100%;
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg");
    background-attachment: scroll;
    background-size: cover;
}           

.team-photo-4{
    height: 300px;
    width: 100%;
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg");
    background-attachment: scroll;
    background-size: cover;
}

.members-details{
    padding-top: 10px;
    padding-left: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    margin: 0;
}

.member-position{
    font-size: 18px;
    padding-top: 10px;
    padding-left: 25px;
    color: lightgray;    
}

.social-tag{
    position: absolute;
    left: 77%;
    bottom: 1%;
    box-sizing: border-box;
    height: 150px;
    width: 60px;
    background-color: #e47312;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.connect{
    width: auto;
    border-bottom: .5px solid white;
    height: 60px;
    padding: 15px 20px;
    margin: 0;
}

#testimonial-page{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
}

#testimonial-details{
    display: inline-block;
    width: 40%;
    margin: 100px 70px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

#testimonial-title{
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    margin-top: 200px;
}

#testimonial-description{
    color: gray;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 50px;
    line-height: 25px;
}

#testimonial-card{
    box-sizing: content-box;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
    width: 55%;
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.review-card-1{
    position: relative;
    height: 230px;
    width: 270px;
    padding: 20px 15px;
    line-height: 25px;
    margin-top: 70px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.review-card-2{
    position: relative;
    height: 200px;
    width: 270px;
    line-height: 25px;
    padding: 20px 15px;
    margin-top: 150px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.review-card-3{
    position: relative;
    height: 220px;
    width: 270px;
    line-height: 25px;
    padding: 20px 15px;
    margin-top: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.review-card-4{
    position: relative;
    height: 200px;
    width: 270px;
    padding: 20px 15px;
    line-height: 25px;
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.testimonials-photo-1{
    font-size: 60px;
    padding-top: 12px;
    height:  50px;
    text-align: center;
    width: 60px;
    color: white;
    border-radius: 50%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    position: absolute;
    top: 80px;
    right: 560px;
}

.testimonials-photo-2{
    font-size: 60px;
    padding-top: 12px;
    height:  50px;
    text-align: center;
    width: 60px;
    color: white;
    border-radius: 50%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    position: absolute;
    top: 170px;
    right: 200px;
}

.testimonials-photo-3{
    font-size: 60px;
    padding-top: 12px;
    height:  50px;
    text-align: center;
    width: 60px;
    color: white;
    border-radius: 50%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    position: absolute;
    z-index: 1;
    top: 490px;
    right: 200px;
}

.testimonials-photo-4{
    font-size: 60px;
    padding-top: 12px;
    height:  50px;
    text-align: center;
    width: 60px;
    color: white;
    border-radius: 50%;
    background-image: linear-gradient(#ff6361, #e47312);
    position: absolute;
    top: 440px;
    right: 560px;
}

#blog-page{
    position: relative;
    width: 100%;
    height: auto;
}

#blog-posts{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.blog-card{
    height: 450px;
    width: 30%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.blog-img{
    width: 100%;
    height: 250px;
    margin: 0;
}

.blog-details{
    position: relative;
    bottom: 5px;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
}

.blog-title{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.blog-description{
    line-height: 25px;
    font-size: 14px;
    color: white;
}

.read-more{
    font-size: 13px;
    font-weight: 600;
    color: white;
    text-decoration: underline rgb(187, 184, 184) 2px;
    text-underline-offset: 5px;
}

.read-more:hover{
    text-decoration-color: white;
}

.calender-1{
    height: 80px;
    width: 50px;
    position: absolute;
    bottom: 368px;
    right: 0;
}

.date{
    background-image: linear-gradient(45deg, #ff6361, #e47312);
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 15px;
}

.month{
    background-color: white;
    margin: 0;
    color: lightgrey;
    font-size: 15px;
    text-align: center;

}

#companies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 180px;
    width: 100%;
    margin: 0;
    margin-top: 150px;
    background-image: linear-gradient(56deg, #e47312, #ff6361);
}

#trusted-companies{
    width: 300px;
    height: auto;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.companies-name{
    height: 50px;
    width: 100px;
    cursor: pointer;
}

footer{
    position: relative;
    box-sizing: border-box;
    font-size: 18px;
    height: 90vh;
    width: 90%;
    margin-left: 5%;
    background-color: #0a1229;
    font-weight: 300;
    padding: 50px 0;

}

#footer-details-section{
    display: flex; 
    justify-content: space-around;
}

.footer-about-section{
    color: white;
    height: 80%;
    width: 23%;
    text-align: left;
    line-height: 25px;
}

.footer-services-section{
    color: white;
    height: 80%;
    width: 23%;
    text-align: left;
    line-height: 25px;
}

.footer-contact-section{
    color: white;
    height: 80%;
    width: 23%;
    text-align: left;
    line-height: 25px;
}

.line{
    display: inline-block;
    width: 170px;
    height: 0px;
    border: .5px solid #ff6361;
    padding: auto;
    margin-left: 10px;
    margin-bottom: 5px;
}


.ul-btn{
    color: white;
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
}

.ul-btn:hover{
    text-decoration: underline white 2px;
    text-underline-offset: 5px;
}

#logo-bottom{
    height: 20px;
    width: 90px;
    background-color: #e47312;
    padding: 45px 35px;
    position: absolute;
    left: 50px;
    bottom: 0;
    cursor: pointer;
}

@media screen and (max-width: 400px) {

    body{
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: thin;
    }
  
    ::-webkit-scrollbar {
        width: 3px;
    }
    ::-webkit-scrollbar-thumb {
         background: lightgray; 
         border-radius: 10px;
    }

    #background{
        border: none;
        height: 500px;
        width: 400px;
        background-position: topcenter;
        background-attachment: fixed;
        background-size: 900px 500px;
    }

    #first-section{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #header{
        height: 60px;
        width: 400px;
        background-color: white;
    }

    #logo{
        padding: 20px 30px;        
    }

    .nav-bar{
        visibility: hidden;
    }

    .fa-grip-lines{
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 20px;
        font-size: 30px;
    }

    .details{
        width: 360px;
        height: 400px;
    }

    #heading{
        width: 340px;
        font-size: 40px;
        line-height: 40px;
        padding: 40px 30px 0;
    }

    #slogan{
        color: rgba(255, 255, 255, 0.6);
        padding: 0 30px;
        margin-top: 0;
    }

    .quote-btn-2{
        width: 150px;
        margin: 10px 30px;
        background-color: #e47312;
    }

    #dropdown, .quote-btn{
        visibility: hidden;
    }

    #contact-section{
        visibility: hidden;
    }

    #social-tab{
        position: absolute;
        top: 235px;
    }

    #services-page{
        top: 0;
        bottom: 0;
        height: auto;
        width: 400px;
    }

    .blur-heading, .blur-heading-2{
        visibility: hidden;
    }

    #top-bar{
        font-size: 18px;
        height: auto;
        width: 400px;
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }

    #title{
        font-size: 28px;
        padding: 30px 0 0;
        margin: 30px 20px 10px;
    }

    #all-services{
        font-size: 14px;
        margin: 0 20px 30px;
    }

    #services-block{
        flex-direction: column;
        align-items: flex-start;
        width: 400px;
        height: auto;
        margin: 0;
        bottom: 0px;
        right: 0;
    }

    #services{
        width: 340px;
        align-items: flex-start;
        padding: 10px 30px;
        margin: 0 0 30px;
        height: 250px;
    }

    .description{
        width: 300px;
    }

    #about-page{
        height: auto;
        width: 400px;
        flex-wrap: wrap;
        padding: 0;
    }

    #worker-img{
        box-sizing: border-box;
        padding: 0;
        width: 340px;
        height: 240px;
        margin: 0 30px 40px;
    }

    #heading-2{
        font-size: 26px;
        text-align: left;
        padding: 0;
        margin: 20px 0 30px;
    }

    #about-details{
        height: auto;
        width: 400px;
        padding: 20px 30px;
        align-items: flex-start;
        justify-content: left;
    }
    
    #statics{
        width: 400px;
        height: auto;
        margin-top: 50px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: left;
    }

    .count-details{
        height: 100px;
        width: 400px;
        padding: 0px 30px;
        margin: 0 0 20px;
    }

    .count{
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .details{
        text-align: left;
        padding: 0;
        margin: 0;
    }

    #projects{
        width: 400px;
    }

    #project-image-1, #project-image-2, #project-image-3, #project-image-4, #project-image-5, #project-image-6{
        width: 360px;
        margin: 0 20px;
        background-size: 100%;
    }

    .view-option{
        width: 360px;
        height: 320px;
    }

    #bg-image{
        background-repeat: repeat;
        background-position: left;
        background-size: 100%;
        background-attachment: fixed;
        width: 400px;
        height: 270px;
    }

    #bg-tranparent{
        box-sizing: border-box;
        height: 270px;
        width: 400px;
        padding: 30px 20px;
    }

    #title-2{
        font-size: 26px;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    #description-2{
        text-align: left;
        width: 350px;
    }

    #quote-btn-2{
        margin: 0;
        text-align: left;
    }

    .team-card{
        width: 340px;
        margin: 20px 0;
    }

    #team-details{
        height: auto;
        width: 340px;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .social-tag{
        left: 280px;
    }

    #testimonial-page{
        width: 400px;
        height: auto;
        flex-wrap: wrap;
    }
    
    #testimonial-details{
        width: 400px;
        height: auto;
        margin: 30px 10px;
        justify-content: left;
        align-items: flex-start;
    }

    #testimonial-description{
        margin: 20px 20px 40px;
    }

    #testimonial-title{
        margin: 0 20px 50px;
        font-size: 26px;
        width: 340px;
    }

    #testimonial-card{
        width: 400px;
        height: auto;
        margin: 0px;
        justify-content: left;
    }

    .review-card-1, .review-card-2, .review-card-3, .review-card-4{
        margin: 40px;
        width: 320px;
    }

    .testimonials-photo-1{
        left: 170px;
        right: 0;
        top: 320px;
    }

    .testimonials-photo-2{
        left: 170px;
        right: 0;
        top: 670px;
    }


    .testimonials-photo-3{
        left: 170px;
        right: 0;
        top: 990px;
    }


    .testimonials-photo-4{
        left: 170px;
        right: 0;
        top: 1330px;
    }

    #blog-page{
        width: 400px;
    }

    #blog-posts{
        width: 340px;
        margin: 40px 30px 0;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
    }

    .blog-card{
        height: 450px;
        width: 340px;
        margin: 20px 0;
    }

    .calender-1{
        left: 290px;
    }

    #companies{
        height: auto;
        width: 400px;
        margin: 30px 0 0;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
    }

    #trusted-companies{
        width: 400px;
        text-align: center;
        margin: 50px 0;
    }

    .companies-name{
        padding: 30px 150px;
    }

    footer{
        width: 400px;
        height: auto;
        margin: 0;
        padding: 30px;
    }

    #footer-details-section{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: left;
        padding-bottom: 50px;
    }

    .footer-about-section{
        height: auto;
        width: 340px;
    }

    .footer-services-section{
        height: auto;
        width: 340px;
    }

    .footer-contact-section{
        height: auto;
        width: 340px;
    }

    .line{
        width: 240px;
    }

    #logo-bottom{
        padding: 20px 45px;        
        bottom: 0;
        left: 30px;
    }

}